# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle lldb breakpoint'
      'command': 'atom-lldb-debugger:toggle_breakpoint'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'LLDB Debugger'
      'submenu': [
        {
          'label': 'Toggle breakpoint'
          'command': 'atom-lldb-debugger:toggle_breakpoint'
        }
      ]
    ]
  }
]
